@use 'modules/global'
@use 'modules/colors'
@use 'modules/fonts'
@use 'modules/logo'
@use 'modules/primary-btn'
@use 'modules/secondary-btn'

body
	@include global.global

.container
	display: grid
	place-items: center
	width: 100%
	height: 100vh

.logo__container
	margin-bottom: 3rem

.form__container
	display: grid
	align-self: flex-end
	grid-template-rows: auto 1fr auto
	width: 300px

.form__header
	.title
		font-size: fonts.$md
		margin-bottom: .5rem
		text-align: center

	.subtitle
		color: colors.$secondary-color
		font-size: fonts.$sm
		font-weight: light
		margin-top: 0
		margin-bottom: 2rem
		text-align: center

.form
	display: flex
	flex-direction: column

	.label
		font-size: fonts.$sm
		font-weight: bold
		margin-bottom: .25rem

	.input
		height: 2rem
		font-size: fonts.$md
		margin-bottom: .75rem
		padding: .375rem
		border: none
		border-radius: fonts.$radius
		background-color: colors.$text-input-field

	.login__btn
		margin-top: 2rem
		margin-bottom: 1.875rem

// New password
.new-password
	font-size: fonts.$sm
	text-align: center
	color: colors.$main-color
	text-decoration: none

.sign-up__container
	align-self: flex-start
	width: 300px
	margin-top: 3.5rem

	.sign-up__btn
		width: calc(100% - 1px)

@media (max-width: 640px)
	.logo__container
		display: block

	.sign-up__container
		align-self: flex-end
		margin-top: 0
		margin-bottom: 1.25rem

@media (min-width: 300px) and (max-width: 640px)
	.form__container
		align-self: flex-start